<section class="about-us-section">
  <div class="container">
    <h2 class="about-us-header" id="about-us">
      About <span class="accent">us</span>
    </h2>
    <div class="about-us-wrapper">
      <picture class="about-us-picture">
        <!-- desktop-large -->
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/about-us/about-us_desk-large.png    1x,
            ./img/about-us/about-us_desk-large@2x.png 2x
          "
        />
        <!-- desktop -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/about-us/about-us_desk.png    1x,
            ./img/about-us/about-us_desk@2x.png 2x
          "
        />
        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about-us/about-us_tab.png    1x,
            ./img/about-us/about-us_tab@2x.png 2x
          "
        />
        <!-- mobile -->
        <source
          media="(max-width: 767.98px)"
          srcset="
            ./img/about-us/about-us_mob.png    1x,
            ./img/about-us/about-us_mob@2x.png 2x
          "
        />
        <img
          class="about-us-img"
          src="./img/about-us/about-us_tab.png"
          alt="Camera"
          width="340"
          height="704"
        />
      </picture>

      <ul class="about-us-list">
        <li class="about-us-item">
          <p class="about-us-text">
            Наша фотошкола створена для того, щоб навчити вас усього, що потрібно знати про це чарівне мистецтво. Незалежно від вашого досвіду чи рівня майстерності, ми пропонуємо широкий спектр курсів, що відповідають вашим потребам та інтересам. Наша команда викладачів складається з досвідчених фотографів, які мають багаторічний досвід роботи в цій галузі. Вони прагнуть не лише поділитися своїми знаннями, але й надихнути вас розвивати та виражати свою унікальну творчість.
          </p>
        </li>
        <li class="about-us-item">
          <p class="about-us-text">
            Наші курси охоплюють широкий спектр тем, від основ фотографії та використання обладнання до професійної обробки зображень та створення вражаючих композицій. Ви матимете можливість вивчити технічні аспекти фотографії, відкрити свій власний стиль та розвинути власну візуальну мову.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
