<!-- Desktop 1280 -->
<section class="courses">
  <div class="container">
    <div class="courses-container">
      <div class="courses-about">
        <h2 class="courses-title" id="courses">Наші <span class="accent">курси</span></h2>
        <p class="courses-ofer">
          У нашій фотошколі ми пропонуємо різноманітні курси, що охоплюють усі аспекти цього захопливого мистецтва. Незалежно від вашого досвіду чи рівня майстерності, у нас є курси, що відповідають вашим потребам та цілям.
        </p>
      </div>
      <ol class="courses-list">
        <li class="courses-card">
          <a href="#sign-up" class="card-link">
            <div class="icon-wrapper">
              <svg class="courses-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </div>
          </a>
          <h3 class="courses-subtitle">Основи фотографії</h3>
          <div class="text-wrapper">
            <p class="courses-text">
              Під час цього курсу ви зможете ознайомитися з різними типами камер, вивчити основи композиції.
            </p>
          </div>
        </li>
        <li class="courses-card">
          <a href="#sign-up" class="card-link">
            <div class="icon-wrapper">
              <svg class="courses-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </div>
          </a>
          <h3 class="courses-subtitle">Пейзажна <br>фотографія</h3>
          <div class="text-wrapper">
            <p class="courses-text">
              У цьому курсі ви навчитеся вибирати правильні ракурси, кадрувати пейзажі та створювати глибину й перспективу у своїх зображеннях.
            </p>
          </div>
        </li>
        <li class="courses-card">
          <a href="#sign-up" class="card-link">
            <div class="icon-wrapper">
              <svg class="courses-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </div>
          </a>
          <h3 class="courses-subtitle">Портретна <br>фотографія</h3>
          <div class="text-wrapper">
            <p class="courses-text">
              Під час цього курсу ви навчитеся правильно підбирати освітлення, відтворювати настрій та вирази облич моделей.
            </p>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>