<section class= "reviews-section">
    <div class="container">
    <h2 class="reviews-title" id="reviews">Reviews</h2>
            <ul class="reviews-list">
            <li class="reviews-item">
                    <div class="student-container">
                        <img 
                        class="student-photo"
                        srcset="./img/reviews/abraham.png 1x, ./img/reviews/abraham@2.png 2x"
                        src="./img/reviews/abraham.png" alt="Abraham Baker">
                        <div class="student-info-container">
                            <h3 class="student-name">Андрій Соловей</h3>
                            <p class="student-p">Студент</p>
                            <ul class="stars-list">
                                <li class="star-item">
                                    <svg class="star-shaded" width="16" height="16">
                                        <use href="./img/icons.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="star-item">
                                    <svg class="star-shaded" width="16" height="16">
                                        <use href="./img/icons.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="star-item">
                                    <svg class="star-shaded" width="16" height="16">
                                        <use href="./img/icons.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="star-item">
                                    <svg class="star-shaded" width="16" height="16">
                                        <use href="./img/icons.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="star-item">
                                    <svg class="star-transparent" width="16" height="16">
                                        <use href="./img/icons.svg#icon-star"></use>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                    </div>
                       
                   
                    

                    <p class="reviews-text">Я дуже радий, що вирішив вступити до фотошколи. Викладачі виявилися дуже талановитими та досвідченими професіоналами, які діляться своїми знаннями та віддані своїй роботі. Я зміг розширити свої навички та відкрити свій власний стиль.</p>
                </li>
            <li class="reviews-item">
                    <div class="student-container">
                        <img 
                        class="student-photo"
                        srcset="./img/reviews/amanda.png 1x, ./img/reviews/amanda@2.png 2x"
                        src="./img/reviews/amanda.png" alt="Amanda Lowery">
                        <div class="student-info-container">
                            <h3 class="student-name">Анна Любчик</h3>
                            <p class="student-p">Студентка</p>
                            <ul class="stars-list">
                                <li class="star-item">
                                    <svg class="star-shaded" width="16" height="16">
                                    <use href="./img/icons.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="star-item">
                                    <svg class="star-shaded" width="16" height="16">
                                    <use href="./img/icons.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="star-item">
                                    <svg class="star-shaded" width="16" height="16">
                                    <use href="./img/icons.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="star-item">
                                    <svg class="star-shaded" width="16" height="16">
                                    <use href="./img/icons.svg#icon-star"></use>
                                    </svg>
                                </li>
                                <li class="star-item">
                                    <svg class="star-transparent" width="16" height="16">
                                    <use href="./img/icons.svg#icon-star"></use>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                    </div>
                
                <p class="reviews-text">Курси у фотошколі перевершили всі мої очікування. Я отримав не лише технічні знання, а й натхнення та мотивацію для досягнення нових висот у своїй творчості. Практичні заняття та майстер-класи допомогли мені зрозуміти різні стилі фотографії.</p>
            
            </li>
        </ul>
    </div>
</section>
